<!DOCTYPE html>
<html lang="es">

<head>
  <title>Sales Layer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="../../public/images/favicon.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../../public/css/modal.css">
</head>

<body>

  <div id="partnerModal" class="modal-window">
    <div class="modal-content container">
      <div class="modal-content_header">
        <a href="#">X</a>
        <img src="../../public/images/brand/logo-3dids.png" alt="3dids-logo">
      </div>
      <div class="modal-content_body">
        <div class="tags">
          <a href="#">
            <img src="../../public/images/icons/icons_affiliate-partner_simple_1.png" alt="Solution partner">
            Afiliate Partner
          </a>
          <a href="#">
            <img src="../../public/images/icons/location.png" alt="Location">
            España
          </a>
        </div>
        <h2>Transformando ideas en negocio</h2>
        <p>En 3dids contamos con más de 14 años de experiencia, más de 35 profesionales y más de 55 marcas
          internacionalizadas. Somos una empresa de transformación digital enfocada en negocios y resultados. Ayudamos a
          las marcas y las organizaciones a crecer en todos los sectores, nacionales e internacionales. Juntos lo
          hacemos realidad.</p>
        <a href="#" class="btn btn-default">Ver web</a>
      </div>
      <div class="circle-decorator"></div>
      <div class="close-decorator"></div>
      <div class="yellow-decorator"></div>

    </div>

  </div>

</body>