@import 'variables';
@import 'mixins';

.modal-window{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    @include small{
        width: 100%;
        height: auto;
    }
}

.modal-content{
    width: 800px;
    background-color: #fff;
    padding: 20px;
    @include small{
        width: 100%;
        height: auto;
    }
    
}
.modal-content_header{
    position: relative;
    display: flex;
    justify-content: center;
    
    img{
        margin-top: 50px;
    }
    a{
        position: absolute;
        top: 0;
        right: 0;
        color: #46637F;
        font-weight: 600;
        z-index: 10;
    }
}
.modal-content_body{
    .tags{
        display: flex;
        justify-content: center;
        margin: 20px 0;
        @include small{
            flex-direction: column-reverse;
            text-align: center;
        }
        a{
            margin: 10px;
            padding: 10px;
            @include small{
                width: 60%;
                margin: 0 auto;
            }
            &:nth-child(1){
                color: #46637F;
                background-color: #E0E6ED;
                img{
                    width: 25px;
                }
            }
            &:last-child{ 
                color: #FF9902;
                img{
                    width: 12px;
                }

            }
        }
    }
    h2{
        font-family: roc-grotesk, sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: #193BFF;
    }
    p{
        font-size: 16px;
        text-align: center;
        color: #46637F;
    }
}

.btn-default {
    @include btn-default($btn-color, $hover-color);
}

.circle-decorator{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 87px;
    left: 28px;
    background-image: url('../images/decorators/deco4.png');
    background-size: cover;
    background-repeat: no-repeat;
    @include small{
        display: none;
    }
}
.close-decorator{
    position: absolute;
    content: "";
    width: 100px;
    height: 140px;
    top: 0;
    right: 0;
    background-image: url('../images/decorators/deco3.png');
    background-size: cover;
    background-repeat: no-repeat;
    @include small{
        width: 50px;
        height: 70px;
    }
}
.yellow-decorator{
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    top: 0;
    left: 10px;
    background-image: url('../images/decorators/deco5.png');
    background-size: cover;
    background-repeat: no-repeat;
}