/* Colors */
$title-color: #202D3A;
$subtitle-color: #193BFF;
$paragraph-color: #46637F;
$form-color: #899BAD;
$bg-gray-color: #F4F6F9;
$btn-color: #3BC693;
$hover-color: #3c9272;

/* Fonts */

$main-font: 'Open Sans', sans-serif;
$secondary-font: roc-grotesk, sans-serif;

/* Screen Size */
$small: 575px;
$medium: 768px;
$large: 992px;