.modal-window {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  background: red;
  width: 100%;
}

.modal-content {
  width: 600px;
  height: 450px;
  background-color: #fff;
  padding: 20px;
}

.modal-content_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-content_header img {
  margin-top: 50px;
}

.modal-content_header a {
  position: absolute;
  top: 0;
  right: 0;
  color: #46637F;
  font-weight: 600;
  z-index: 10;
}

.modal-content_body .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0;
}

.modal-content_body .tags a {
  margin: 10px;
  padding: 10px;
}

.modal-content_body .tags a:nth-child(1) {
  color: #46637F;
  background-color: #E0E6ED;
}

.modal-content_body .tags a:nth-child(1) img {
  width: 25px;
}

.modal-content_body .tags a:last-child {
  color: #FF9902;
}

.modal-content_body .tags a:last-child img {
  width: 12px;
}

.modal-content_body h2 {
  font-family: roc-grotesk, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #193BFF;
}

.modal-content_body p {
  font-size: 16px;
  text-align: center;
  color: #46637F;
}

.btn-default {
  background-color: #3BC693;
  border-radius: 1.7rem;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btn-default:hover {
  color: #fff;
}

.circle-decorator {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 87px;
  left: 28px;
  background-image: url("../images/decorators/deco4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.close-decorator {
  position: absolute;
  content: "";
  width: 100px;
  height: 140px;
  top: 0;
  right: 0;
  background-image: url("../images/decorators/deco3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.yellow-decorator {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  top: 0;
  left: 10px;
  background-image: url("../images/decorators/deco5.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  .modal-window {
    width: 100%;
    height: auto;
  }
  .modal-content {
    width: 100%;
    height: auto;
  }
  .circle-decorator {
    display: none;
  }
  .close-decorator {
    width: 50px;
    height: 70px;
  }
  .modal-content_body .tags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .modal-content_body .tags a {
    width: 60%;
    margin: 0 auto;
  }
}
