/* body{
    background-color: rgba(0,0,0,.2);
} */
.modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-content {
  width: 600px;
  height: 450px;
  background-color: #fff;
  padding: 20px;
}

.modal-content_header {
  position: relative;
  display: flex;
  justify-content: center;
}

.modal-content_header img {
  margin-top: 50px;
}

.modal-content_header a {
  position: absolute;
  top: 0;
  right: 0;
  color: #46637F;
  font-weight: 600;
  z-index: 10;
}

.modal-content_body .tags {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.modal-content_body .tags a {
  margin: 10px;
  padding: 10px;
}

.modal-content_body .tags a:nth-child(1) {
  color: #46637F;
  background-color: #E0E6ED;
}

.modal-content_body .tags a:nth-child(1) img {
  width: 25px;
}

.modal-content_body .tags a:last-child {
  color: #FF9902;
}

.modal-content_body .tags a:last-child img {
  width: 12px;
}

.modal-content_body h2 {
  font-family: roc-grotesk, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #193BFF;
}

.modal-content_body p {
  font-size: 16px;
  text-align: center;
  color: #46637F;
}

.btn-default {
  background-color: #3BC693;
  border-radius: 1.7rem;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  width: max-content;
}

.btn-default:hover {
  color: #fff;
}

.circle-decorator {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 87px;
  left: 28px;
  background-image: url("../images/decorators/deco4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.close-decorator {
  position: absolute;
  content: "";
  width: 100px;
  height: 140px;
  top: 0;
  right: 0;
  background-image: url("../images/decorators/deco3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.yellow-decorator {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  top: 0;
  left: 10px;
  background-image: url("../images/decorators/deco5.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  .modal-window {
    width: 100%;
    height: auto;
  }
  .modal-content {
    width: 100%;
    height: auto;
  }
  .circle-decorator {
    display: none;
  }
  .close-decorator {
    width: 50px;
    height: 70px;
  }
  .modal-content_body .tags {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .modal-content_body .tags a {
    width: 60%;
    margin: 0 auto;
  }
}

li {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: roc-grotesk, sans-serif;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  color: #202D3A;
}

p {
  color: #46637F;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.lh-40 {
  line-height: 40px;
}

.btn-default {
  background-color: #3BC693;
  border-radius: 1.7rem;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.btn-default:hover {
  background-color: #3c9272;
  color: #fff;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.services {
  position: relative;
  margin: 210px 0;
  background-color: #F4F6F9;
}

.border-up {
  position: absolute;
  content: "";
  width: 100%;
  height: 240px;
  top: -200px;
  left: 0;
  background: url("../images/decorators/services-up.png");
}

.border-down {
  position: absolute;
  content: "";
  width: 100%;
  height: 240px;
  bottom: -235px;
  left: 0;
  background: url("../images/decorators/services-down.png");
}

.deco1 {
  position: absolute;
  content: "";
  width: 80px;
  height: 120px;
  bottom: -170px;
  left: 100px;
  background: url("../images/decorators/deco1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.deco2 {
  position: absolute;
  content: "";
  width: 150px;
  height: 175px;
  bottom: -245px;
  right: 150px;
  background: url("../images/decorators/deco2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.services p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.animate-slideinup {
  -webkit-animation: SlideInUp 10s ease;
  animation: SlideInUp 10s ease;
}

@-webkit-keyframes SlideInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SlideInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title-component h1 {
  font-family: roc-grotesk, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.title-component span {
  display: block;
  color: #193BFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.brand_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 240px;
  height: 160px;
  margin: 5px;
  border: 1px solid #DFE5EC;
  cursor: pointer;
}

.brand_icon:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 20px 0px black;
  box-shadow: 0px 0px 20px 0px black;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 824px;
  background: rgba(25, 59, 255, 0.8);
  background-image: url("../images/decorators/base-patron-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 795px;
  height: 290px;
  background-color: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 25px 0px #000000;
  box-shadow: 0px 0px 25px 0px #000000;
}

.testimonial-message {
  width: 540px;
  color: #202D3A;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.testimonial-title {
  color: #46637F;
  font-size: 14px;
}

.testimonial-title p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.testimonial-title span {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.testimonial-box_img {
  position: absolute;
  left: -5%;
  bottom: -10%;
  width: 213px;
  height: 213px;
  border-radius: 100%;
  border: 5px solid #fff;
}

.quotes-start {
  position: absolute;
  content: "";
  width: 80px;
  height: 60px;
  background-image: url("../images/icons/comillas-azul-1.png");
  top: -5%;
  left: 15%;
}

.quotes-end {
  position: absolute;
  content: "";
  width: 80px;
  height: 60px;
  background-image: url("../images/icons/comillas-azul-2.png");
  bottom: -5%;
  right: 15%;
}

.home-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-form h3 {
  color: #202D3A;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}

.home-form > div {
  width: 370px;
  height: 550px;
  color: #899BAD;
  padding: 50px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}

.home-form input:focus {
  border: 1px solid #3BC693;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  border: 1px solid #D5DDE5;
}

.form-control::-webkit-input-placeholder {
  color: #899BAD;
}

.form-control::-moz-placeholder {
  color: #899BAD;
}

.form-control:-ms-input-placeholder {
  color: #899BAD;
}

.form-control::-ms-input-placeholder {
  color: #899BAD;
}

.form-control::placeholder {
  color: #899BAD;
}

footer {
  height: 311px;
  background: url("../images/grass.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-select {
  cursor: pointer;
}

.content-select .select {
  position: relative;
  border: 1px solid #D5DDE5;
  padding: 10px;
  width: 190px;
  text-align: left;
  color: #899BAD;
}

.content-select ul {
  display: none;
  border: 1px solid none;
  text-align: left;
  padding: 0;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(52, 73, 94, 0.15);
  box-shadow: 0px 0px 25px 0px rgba(52, 73, 94, 0.15);
}

.content-select ul li {
  padding: 10px;
  color: #46637F;
  font-size: 16px;
}

.content-select ul li:hover {
  background-color: #3BC693;
  color: #fff;
  scale: 1.1;
}

.content-select ul li.active {
  background-color: #267F6D;
  color: #fff;
  scale: 1.1;
}

.content-select i {
  position: absolute;
  right: 15px;
  top: 12px;
  width: 16px;
  height: 16px;
  display: block;
  border-left: 4px solid #3BC693;
  border-bottom: 4px solid #3BC693;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* Media querys */
@media (min-width: 768px) and (max-width: 991px) {
  .testimonial-box {
    width: 500px;
  }
  .testimonial-message {
    width: 480px;
  }
  .testimonial-message p {
    font-size: 20px;
  }
  .testimonial-title p,
  .testimonial-title span {
    font-size: 14px;
  }
  .testimonial-box_img {
    left: -5%;
    bottom: -30%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid #fff;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
  }
  .title-component h1 {
    font-size: 40px;
  }
  .title-component p {
    font-size: 15px;
  }
  .deco1 {
    display: none;
  }
  .home-form > div {
    margin-top: 70px;
  }
  .testimonial-box {
    width: 470px;
    height: 390px;
  }
  .testimonial-message {
    width: 460px;
  }
  .testimonial-message p {
    font-size: 20px;
  }
  .testimonial-title p,
  .testimonial-title span {
    font-size: 14px;
  }
  .testimonial-box_img {
    left: 35%;
    bottom: -20%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid #fff;
  }
  .quotes-end {
    display: none;
  }
  footer {
    height: 140px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 20px;
  }
  .title-component h1 {
    font-size: 40px;
  }
  .title-component p {
    font-size: 15px;
  }
  .deco1 {
    display: none;
  }
  .brand div {
    width: 150px;
    height: 100px;
  }
  .home-form > div {
    margin-top: 70px;
  }
  .testimonial-box {
    width: 320px;
    height: 410px;
  }
  .testimonial-message {
    width: 320px;
  }
  .testimonial-message p {
    font-size: 15px;
  }
  .testimonial-title p,
  .testimonial-title span {
    font-size: 12px;
  }
  .testimonial-box_img {
    left: 28%;
    bottom: -20%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid #fff;
  }
  .quotes-end {
    display: none;
  }
  .btn-default {
    font-size: 13px;
  }
  .contact {
    text-align: center;
  }
  footer {
    height: 123px;
  }
}
